body {
    background-color: black;
    color: lightgray;
    overflow: hidden;
    margin: 0;
}

#container {
    width: 980px;
    margin:auto;
}

.btn {
    --btnwh: 65px;
    width: var(--btnwh);
    height: var(--btnwh);
    margin: 1px;
    color: lightgray;
    background-color: black;
    border: 6px solid lightgray;
    border-radius: 25px;
    font: bold 32px 'DejaVu Sans Mono', monospace;
}
.btn:active:hover {
    color: #2e2e2e;
    background-color: lightgray;
    cursor: pointer;
}
.btn:hover {
    background-color: dimgray;
    cursor: pointer;
}

.text {
    font: normal 64px 'DejaVu Sans Mono', monospace;
    text-align: center;
    margin: 32px 0 32px 0;
}
.gallows {
    width: 50%;
    float: left;
}
.keyboard {
    width: 50%;
    float:left;
    font: normal 48px 'DejaVu Sans Mono', monospace;
    text-align: center;
}

img {
    width: 100%;
}

.reset {
    color: green;
    cursor: pointer;
}
.reset:hover {
    color: lightgray;
}


@media screen and (max-width: 980px) {
    body {
        overflow: scroll;
    }
    #container {
        width: auto;
    }
    .gallows, .keyboard {
        width: 100%;
    }
    .btn {
        height: 60px;
        width: 60px;
    }
}